.ipynb_checkpoints
*.ipynb
venv
.idea
**/__pycache__/**
/saved_models/
output
.run
config.conf
.vscode
.python-version
dataset
datasets
manipulated_models
models/*/*.th
models/*/*
models/save_temp_fftdropout/
trainers/**/*.th
.README.md
output_*
hf_token.txt
