# For details on this file see ./utils/CONFIG.md

[Experimentesults]
experimentresultsdir=/tmp/explanation-aware-backdoors
manipulatedmodelsdir=./manipulated_models

# All of the folling are in experimentresultsdir/<name>
resultsdir=results
plotsdir=plots
datadir=data
hyperparamresultsdir=hyperparam_results



[Datasets]
datasetsdir=./datasets
CIFAR10dir=CIFAR10


[Training]
epochs=2
lr=0.0001
batch_size=256
train_on_requested_dataset=true
warm_up=false
warm_up_epochs=10
warm_up_lr=0.0005
warm_up_batch_size=128
